*{
    font-family: "Figtree", sans-serif;
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1rem;
}

.container{
    border: 1px solid black;
    box-shadow: 10px 10px;
    background-color: hsl(0, 0%, 100%);
    width: 384px;
    height: 522px;
    border-radius: 1em;
    text-align: center;
}

.container:hover{
    box-shadow: 15px 15px;
}

.illustration{
    border-radius: 1em;
    justify-content: center;
    width: 336px;
    height: 200px;
    margin: 1.5em;
}

.text-container{
    margin: 0 auto;
    width: 336px;
    height: 194px;
}

.learning-container{
    background-color: hsl(47, 88%, 63%);
    width: 82px;
    height: 29px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.learning-container p{
    padding: 7px;
    font-weight: 600;
}

.text{
    text-align: left;
}

.date-published{
    font-weight: 600;
    margin-bottom: 20px;
}

h1{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.text-info{
    color: hsl(0, 0%, 50%);
    line-height: 1.5rem;
}

.avatar{
    display: flex;
    align-items: center;
    width: 129px;
    height: 32px;
    font-weight: 600;
    margin: 20px 20px 20px 25px;
    font-size: 0.90rem;
}

.avatar img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.attribution{
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

/* Media queries screen <= 424px */

@media(max-width:424px){
    
    .container{
        width: 327px;
        height: 501px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 8px 8px;
    }

    .illustration{
        width: 279px;
        margin: 0.5em;
        border-radius: 2em; 
    }

    .text-container{
        margin: 0 auto;
        width: 279px;
        height: 173px;
    }

    .learning-container{
        margin-bottom: 1em;
    }

    .date-published{
        font-weight: 500;
        margin-bottom: 1.5em;
        font-size: 0.85rem;
    }
    
    h1{
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
    }

    .text-info{
        line-height: 1.5rem;
        font-size: 0.9rem;
    }

    .avatar{
        width: 121px;
        font-weight: 500;
        margin: 50px 20px 20px 25px;
        font-size: 0.80rem;
    }
}